+b.container
    +b.main-block
        +e("h2").title Be productive Today<br> with no stress and distractions
        +e.description Use simple, free daily task manager. Focus only on your perfect productive day, without distract by future tasks.
        +e.cta
            +e("button").register.btn-sml-primary_reg Register for free
        +e.animation  
            <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_xtajsmrq.json"  background="transparent"  speed="1.5"  loop  autoplay></lottie-player>