+b.container.container_about
        +b.about 
            +e("h2").title About
            +e.description This project is a part of 🇺🇦PRJCTR — Creative & Tech Online Institute course. But we always appreciate to get your feedback and add new features to DAILY-DO. <br><br> You can open PRJCTR Course page bellow, or leave comment at Produc Hunt page:
            +e.logotypes-box 
                +e("a").prjctr-logo-link(href="#")
                    +e("img").prjctr-logo-img(src="assets/prjctr-logo.svg" alt="Projector")
                +e("a").product-hunt-logo-link(href="#")
                    +e("img").product-hunt-logo-img(src="assets/product-hunt-logo.svg" alt="Product-hunt")
        +e.animation
            <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_q4400lb7.json" background="transparent" speed="1" loop autoplay></lottie-player>
