+b.container
    +b.about
        +e("h2").title About
        +e.description This project is a part of 🇺🇦PRJCTR — Creative & Tech Online Institute course. But we always appreciate to get your feedback and add new features to DAILY-DO. <br> <br> You can open PRJCTR Course page bellow, or leave comment at Produc Hunt page:
        +e.logotypes-box
                +e("a").link(href="https://google.com")
                    <img src='~/src/assets/prjctr-logo.svg' alt='prjctr-logo' style='width:100px; height:100px;'>
                +e("a").link(href="https://google.com")
                    <img src='~/src/assets/product-hunt-logo.svg' alt='prjctr-logo' style='width:100px; height:100px;'>
        +e.animation  
            <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_q4400lb7.json" background="transparent" speed="1" loop autoplay></lottie-player>