+b.cta
    +b.container
        +b.cta-content
            +e.title Ready to be more productive today?
            +e.btn-wrapper
                +e("button").button.btn-sml-primary_black Get started — it’s free