+b.container
    +b.footer
        +b.footer-main
            +b.footer-logo
                +e("a").logo-link(href="#")
                    +e("img").logo-img(src="assets/logo.svg" alt="DAILY-DO — To-Do List App")
            +b.footer-menu
                +e("ul").list
                    +e("li").li
                        +e("a").link(href="terms.pug") Terms of use
                    +e("li").li
                        +e("a").link(href="#") Cookie Policy
        +b.footer-aside
            +e("a").link(href="#") Leave Feedback