extends layouts/main.pug
block head
  title DAILY-DO — Easy To-Do List App
block content
  include blocks/main-block/main-block.pug
  include blocks/features/features.pug
  include blocks/about/about.pug
  include blocks/cta/cta.pug
  //- Необхідно зробити аналогічний include вашого нового блоку About