extends layouts/main.pug
block head
  title Terms | DAILY-DO — Easy To-Do List App
block content
  +b.container
    +b.terms
      +e.title 1. General Provisions
      +e.paragraph 1.1.  The following Innerly Terms of Service (hereinafter referred to as the Innerly Terms of Service) govern the legal relationship arising from the use of Innerly between users (hereinafter referred to as the User), which are individuals and legal entities that are registered on the Innerly platform (hereinafter Innerly), located at https://innerly.me, and SoftPotential OÜ1 (hereinafter referred to as Service Provider). The service offered to the User by the Service Provider covers the use of Innerly and the data processing necessary for this, as well as additional services in accordance with the User’s possible orders (hereinafter referred to as the Service).
      +e.paragraph 1.2. As part of the provision of the Service, the Service Provider processes the User’s personal data, i.e., any User information entered into Innerly, in the following ways:
      +e.paragraph 1.2.1. in order to provide the Service for the purposes set by the Service Provider and on legal grounds, the Service Provider processes the User’s personal data as an authorized processor;
      +e.paragraph 1.2.2. on behalf of and under the authority of the legal entity (hereinafter Legal Entity) that has granted the User certain rights to use Innerly (hereinafter Role), the Service Provider processes the User’s personal data as an authorized processor for the purposes established by the Legal Entity as the processor in charge, and on legal grounds.
      +e.title 2. Service Provision Terms
      +e.paragraph 2.1. The Service Provider allows Users to use Innerly in accordance with the intended purpose, primarily:
      +e.paragraph 2.1.1. to use the platform in accordance with the possibilities of using Innerly. The game belongs to the serious games category and is a Game-Based Assessment (GBA);
      +e.paragraph 2.1.2. to receive a detailed report on the results of the game in accordance with the possibilities of using Innerly;