+b.container
    +b.header
        +b.header-main
            +b.header-logo
                +e("a").logo-link(href="#")
                    +e("img").logo-img(src="assets/logo.svg" alt="DAILY-DO — To-Do List App")
            +b("nav").header-menu
                +e("ul").list
                    +e("li").li
                        +e("a").link(href="#") Features
                    +e("li").li
                        +e("a").link(href="#") About
        +b.header-aside
            +e("button").signup.btn-sml-primary Sign up
            +e("button").login.btn-sml-secondary Log in