+b.features
    +b.container
        +b.features-content
            +e.title Main Features
            +e.items
                +e.item 
                    p Zero Price<br> absolutely free non-limited use
                +e.item 
                    p Minimalistic Design<br> no distractions for unnecessary things
                +e.item 
                    p Cloud Sync<br> fast work and sync your data safely
                +e.item 
                    p Mobile & Desktop<br> looks well at any browser’s device